* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebf1ff;
    height: 70px;
    padding: 0 20px;
    gap: 40px;
}

.logo-container {
    padding-right: 20px;
    background-color: #00a498;
    border-radius: 5px;
    padding: 8px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.olx-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.header-nav-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.header-actions-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #002f34;
}

.profile-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1234F9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.arrow-down-icon {
    font-size: 16px;
    color: #002f34;
}

.sell-btn {
    background: linear-gradient(0deg, #ffe500, #ff5050);
    border: 5px solid #00a498;
    border-radius: 30px;
    padding: 8px 18px;
    font-weight: bold;
    color: #002f34;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 1.2rem;
}

.search-bar-container-v2 {
    display: flex;
    align-items: stretch;
    padding: 15px 20px;
}

.location-dropdown-v2 {
    border: 2px solid #ebf1ff;
    border-radius: 4px;
    display: flex;
    font-size: 5rem;
    align-items: center;
    padding: 20px 20px;
    margin-right: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}

.location-select-v2 {
    border: none;
    background: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 15px;
}

.search-input-v2 {
    flex-grow: 1;
    border: 2px solid #00a498;
    border-right: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.search-button-v2 {
    background-color: #002f34;
    color: white;
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar {
    font-size: 1.8rem;
    background-color: #e7e2e2;
}

.navbar a {
    font-size: 1.8rem;
}

.moveit-banner-section {
    height: 200px;
    width: 100%;
    background-image: url(./banners.png);
}

.currency {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #ffc107;
}

/* will dele */
.currency-card {
    background-color: #ffc107;
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;

    color: #002f34;
    font-family: Arial, sans-serif;
}

.flag-icon-container {
    width: 45px;
    height: 45px;

}

.flag-icon-container span {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.rate-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 1.2;
}

.currency-name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.rates {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 2px;
}

.rate-label {
    font-weight: 400;
    color: rgba(0, 47, 52, 0.8);
}

.divider {
    padding: 0 5px;
    font-weight: 700;
}

.currency-exch {
    background-color: #ffc107;
    display: flex;
    justify-content: center;

}

.link {
    align-items: center;
    display: flex;
    gap: 1.6rem;

}

.Prentdiv {
    display: flex;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;

}


.itemBox {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemBox img {
    width: 88px;
    height: 88px;
}

.itemBox p {
    font-weight: bold;
    text-align: center;
}

.parent {
    display: flex;

    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}