table, tr, td, th {
border: 1px solid black;
border-collapse: collapse;
margin:auto;
padding: 5PX;
 
   
}

 
table {
    width: 90%;
    height: 30%;
    text-align: center;
    align-items: center;
    
}
tH:hover{
    background-color: blue;
    color: white;
}