* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

body {
    background: url(./bc\ images-03.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur (10px);
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.container form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
}

form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;

}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}