* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background-image: linear-gradient(180deg, #212126 0%, #212126 69.79%, #212126 99.99%, #212126 100%);
    color: white;
}

.header {
    width: 1200px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
    padding: 24px;
    margin: 0 75.5px;


}

.logo img {
    width: 186px;
    height: 36px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 16PX;
    margin: 0;
}

.nav a {
    color: #fff;
}

.Post {
    color: #6851ff !important;
    font-weight: bold;
}

.swich span {
    color: #6851ff !important;
    font-weight: bold;
    font-size: 25px;

}

.herosection {
    width: 1351;

}

.herosection h1 {
    font-style: normal;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}

.webSwitch {
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    padding: 6px;
    width: max-content;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.6s ease;

}


.webSwitch:hover {
    transform: scale(1.1);
    box-shadow: rgba(104, 81, 255, 0.3) 0px 12px 40px;

}

.webSwitch button {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 40px;
    background-color: #522fd4;
    color: white;
    font-weight: bold;
}

.applyBtn {
    background-color: transparent !important;
    color: #ffffffb3 !important;
}

.pera {
    text-align: center;
    width: 55%;
    margin: 30px auto;
}

.search-box {
    width: 400px;
    background: #1e1e1e;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.search-box input::placeholder {
    color: #cccccc;
}

.search-box .icon {
    color: #7b61ff;
    font-size: 18px;
    cursor: pointer;
}

.findjobBtn {
    width: 140px;
    height: 50px;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    display: block;
    margin: 0 auto;
    color: white;
    background: linear-gradient(135deg, rgb(0, 168, 204), rgb(0, 151, 230));
}

.roles {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.roles h2 {
    color: #522fd4;
}

.tabprent {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.roles .tab {
    border: 1px solid #522fd4;
    padding: 4px 12px;
    border-radius: 8px;
    width: max-content;
}

.tab p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;

}

.centerLayout {
    width: 65%;
    margin: 0 auto;
}

.agentUi {
    margin-top: 20px;
}

.agentUi h1 {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.chatBox {
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.chatBoxheader {
    border-bottom: 1px solid white;
    padding: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
}

.chatBoxheader i {
    color: #522fd4;
}

.chatBoxheader p {
    margin: 0;
}

.chatBoxBody {
    padding: 24px;
    border-bottom: 1px solid white;
    flex: 8;

}

.chatBoxBody p {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
    width: 60%;
    padding: 24px;
    border-radius: 20px;

}

.chatBoxFooter {
    padding: 8px;
    flex: 1;
    width: 100%;
    display: flex;
    gap: 25px;
}

.chatBoxFooter input {
    display: block;
    width: 95%;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    padding: 0 16px;
    border-radius: 8px;
    color: white;
}

.chatBoxFooter .sendBtn {
    width: 5%;
    background-color: #522fd4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;

}

.quickStepContainer {
    margin-top: 50px;
}

.stepCard {
    border: 1px solid white;
    /* width: 250px; */
    text-align: center;
    padding: 16px;
    border-radius: 16px;
}


.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}



@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.Banner {
    width: 80% 50%;


}

.Banner img {
    max-width: 100%;
    height: auto;
}

.cardsection {
    margin-top: 80PX;
    padding-left: 32px;
    padding-right: 32px;

}

.cardsection h3 {
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
    color: #6851ff;
}

.cardsection h3 span {
    color: #fff;
}

.jobcard {
    width: 1089px;
    height: 302px;


}

.card {
    border-radius: 10px;
    width: 342px;
    height: 253px;
    padding: 25px;
    background: #292930;
    color: #d3d3d3;

}

.cardheadr {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.contant {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 100%;

}

.contant p {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.0093em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}

.contant p span {
    color: rgb(77, 59, 219);
}

.cardfooter {
    text-align: right;

}

.footarcontant {
    display: flex;
    justify-content: space-around;
    justify-items: flex-starts;
}