.card {
    width: 1230px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

}

.cardsection {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;

}