.legend-1 {
    margin: 250px;
    width: 100px;
    text-align: center;
    background-color: aquamarine;
}

.form {
    margin: 200px;
    width: 100px;
    text-align: center;
    background-color: aquamarine;
}