.hero {
    width: 100%;
    padding: 60px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 45px;
    color: #222;
    font-weight: 700;
}

.green {
    color: #3EB249;
}

.blue {
    color: #006CE4;
}

.sub-title {
    font-size: 25px;
    margin-top: 25px;
    font-weight: 600;
}

.btn:hover {
    background-color: aquamarine;
    color: blue;
}

.label-section {
    background-color: #000;
    color: #fff;
}

.currency-section {
    background-color: #000;
    color: #fff;
}

.justify-content-between {
    gap: 50px;

}

.headding {
    text-align: center;

}

.achievements-container {
    background-image: url(./images/934.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
    margin: 10px auto;


}

.achievement-item {

    align-items: center;
}

.manin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1512px;
    height: 452px;
    margin: 10px auto;
    background-image: url(./images/main\ div\ bakground.png);
    background-color: #3b82f680;
    background-size: cover;
    background-repeat: no-repeat;

}


.slid1 {

    width: 226px;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
}

.bg {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    text-align: center;
}
.d-flex .container {
    
}