* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head {
    width: 100%;
    padding: 30px;
    text-align: center;
    background-image: url(./images/vecteezy_analysis-data-and-planning-concept-vector-flat-illustration_7095823.jpg);
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.headding {
    color: black;
}

.logo {


    position: relative;
    top: 5px;
    left: 5px;


}

.head a {
    border: 1px solid #007bff;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    font-size: 1.5em;
    color: #007bff;
    align-items: center;
}

.head span {

    width: 300px;
    height: 300px;
    border-radius: 5px;
    font-size: 2.5em;

}

.box i {
    width: 30px;
}

.box {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    background-color: #f8f5f5;
}

.box a {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    height: 10px;

}


.tegs {
    color: #007bff;
    box-sizing: border-box;
    text-align: center;
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #f8f5f5;
}

.form-group {
    flex: 1;
    /* equal width */
    min-width: 220px;
    display: flex;
    flex-direction: column;
}

.form-group li {
    padding: 10px;
}

label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-bottom: 6px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

select {
    padding: 25px;
    height: 25px;
    font-size: 15px;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: white;
    color: #333;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='70,100 20,40 120,40' fill='%23007bff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
    cursor: pointer;
}

input {
    padding: 25px;
    height: 25px;
    font-size: 15px;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: white;
    color: #333;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='70,100 20,40 120,40' fill='%23007bff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 0px;
    cursor: pointer;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}