* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 60px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

.btn.blue {
    background-color: #007bff;
}

.btn.blue:hover {
    background-color: #0069d9;
}

.herocontant {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    ali
}

.headding {
    display: flex;
    text-decoration: ;
}